body {
  margin: 0;
  padding: 30px;
  font-family: $font-family-sans-serif;
  background-color: $uoc-bg;
  color: $uoc-corporate;
}

.uoc-logo {
  display: block;
  margin-bottom: 20px;
  // height: auto;
  width: 30%;
  height: 30%;
}

.uoc-title {
  font-family: $font-family-serif;
  font-size: 36px;
  font-weight: 700;
  color: $uoc-corporate;
  text-align: center;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  background-color:$card-background-color;
  transition: 0.3s;
  width: 70%;
  /* float: left; */
  padding: 0 10px;
  margin-left: 15%;
  margin-right: 15%;
  padding-bottom: 10px;
  padding-top: 10px;
  
}

@media only screen and (max-width: 780px) {
  .uoc-logo {
    width: 99%;
    height: 99%;
  }

  .card {
    margin-left: auto;
    margin-right: auto;
    width: 98%;

  }

}




